{% extends "base.html" %}

{% block title %}Registro de Usuario{% endblock %}

{% block content %}
<div class="container mx-auto py-6">
    <h1 class="text-2xl font-bold mb-4">Registro</h1>
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8">
        {% csrf_token %}
        <div>
            <label for="id_username">Nombre de usuario:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="id_email">Correo electrónico:</label>
            {{ form.email }}
        </div>
        <div>
            <label for="id_password1">Contraseña:</label>
            {{ form.password1 }}
        </div>
        <div>
            <label for="id_password2">Confirmar contraseña:</label>
            {{ form.password2 }}
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
            Registrarse
        </button>
    </form>
</div>
{% endblock %}


